/* Doctors */
#doctors .doctor-list {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 16px;
}
.doctor-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s;
  transition: transform 0.3s;
  cursor: default;
}
.doctor-card:hover {
  box-shadow: 0 10px 25px rgb(0 0 0 / 0.15);
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.15);
}
.doctor-photo {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.doctor-info {
  padding: 20px;
  text-align: center;
}
.doctor-info h4 {
  margin-bottom: 8px;
  color: #007bff;
}
.doctor-info p {
  font-size: 0.95rem;
  color: #666;
}
