* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
:root {
  --text-color: #fff;
  /* --bg-color: #1b1f24;
  --second-bg-color: #22282f; */
  --main-color: #13bbff;
  --other-color: #c3cad5;

  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --p-font: 1rem;
}
/* this ups navbar part */
.main {
  background-color: aqua;

  height: 100vh;
  width: 100%;
}
#back-photo {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/main.jpg);
  background-size: cover;
}
.up-nav {
  display: flex;
  justify-content: space-between;
}
.right-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 60%;

  gap: 20px;
  height: 50px;
  /* background-color: aqua; */
}
.left-part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 40%;
  height: 50px;
  align-items: flex-end;
  font-size: 1.7rem;

  /* background-color: aquamarine; */
  color: var(--text-color);
}
.contact-icon {
  margin-right: 20px;
  color: black;
}
.phone {
  margin-left: 70px;
  /* color: var(--text-color); */
  color: black;
  font-weight: 600;
}
i {
  margin-right: 10px;
}
.location {
  /* color: var(--text-color); */
  color: black;
  font-weight: 600;
}
